// @import "yoga";
// @import "normalize";

// $fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
// @import "font-awesome";



@import 'box-sizing';
@import 'base';
@import 'variables';

.modal-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  padding: 5rem;
  background: $background-haze;
  color: $text-color;
}

.card {
  width: 70vw;
  height: 80%;
  padding: $gutter;
  background: $card-background;
  box-shadow: $brand-shadow;
}

.card-field {
  display: flex;
  flex-wrap: wrap;
  min-width: 90%;
  padding: $gutter;
}

.form-field-label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $gutter;
  border-bottom: $brand-shadow;
  color: $label-color;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  max-height: $gutter;
  padding: $gutter;
  border-top: 1px solid $button-background;
}

.save-button {
  padding: 1rem;
  border: 0;
  border-radius: 0.2rem;
  outline: none;
  background: $button-background;
  color: $card-background;
  font-size: 1.2rem;

}

.form-field-input-text {
  width: 100%;
  min-width: $min-width;
  height: $gutter;
  border: 0;
  border-bottom: 2px solid $button-background;
  outline: none;
  background: none;
  color: $text-color;
  font-size: 1.2rem;
}

::-webkit-input-placeholder {
  color: $text-color;
}
